input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height: 28px !important;
}
select {
	width: 200px !important;
}
td {
	padding: 0 5px !important;
}
.sub-title {
	font-size: 20;
	margin: 10px 0 0 10px;
}
.cuetionario {
	margin-left:20px;
}
.texto_respuesta {
	width: 500px;
	top: 3px;
	position: relative;
}
.registro > tbody > tr > td {
	background: #fff;
	padding: 5px !important;
	padding-left: 10px !important;
}
.registro > tbody > tr > td > input,
.registro > tbody > tr > td > select {
	position: relative;
	top: 3px;
}
.reg_input, .data_profile {
	background-color: #F6F7F8 !important;
}
.form-invisible {
	display: none !important;
}
#suit-center {
	width: 96% !important;
}
.top-button {
	float: right;
	position: relative;
	top: -5px;
	left: 30px;
	width: 300px;
}
.table-alumnos {
	width: auto !important;
	font-size: 12px;
}
.alumno-data {
	padding: 5px 10px !important;
}
.alumno-check {
	margin-left: 2px !important;
}
.alumno-button {
	padding: 0px !important;
	height: 100% !important;
}
.alumno-button > button {
	height: 100% !important;
}
#result_list > tbody > tr > th {
	background-color: #ddd !important;
	border-color: #ccc;
	box-shadow: unset;
}
#menu > form > select {
	position: relative;
	top: 5px;
	margin-right: 5px;
	width: 100px !important;
}
#address {
	width: 100%;
}
#localizar {
	top: 0;
}
.oculto {
	display: none !important;
}
#mapa {
	width:98%;
	height: 300px;
	margin: 10px auto;
	padding: 10px;
	color: #1E1E1E;  
}
#ok_button {
	position: relative;
	top: -5px;
	margin-left: 5px;
}
.photo-profile {
	height: 108px;
	margin-left: 12px;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}
.index-img {
	width: 50%;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
.ws-popover-opener {
	top: -1px;
	left: -1px;
	background: none;
}
.step-controls {
	top: -2px;
}
.pgdi-icon {
	width: 25px;
	height: 25px;
	cursor: pointer;
	padding: 2px;
}
pre {
	background: none !important;
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	color: inherit !important;
	font-size: inherit !important;
}
.help {
	float: right;
	position: relative;
	right: 70px;
}
