{% extends "base.html" %}
{% load static %}
{% block content %}
	<script lang='javascript'>
		function check_all(obj) {
			//$('input[name=all_alumnos]').attr('checked', obj.checked);
			var l_alumnos = document.getElementsByName('all_alumnos');
			for (i = 0; i < l_alumnos.length; i++) l_alumnos[i].checked = obj.checked;
		}
	</script>
	<h2 class="sub-title">Listado de alumnos de {{ grado }}</h2>
	<div id="suit-center">
		{% if not user.is_authenticated or not user.is_staff %}
			<div class="alert alert-block alert-error"><h4><a href="{% url 'index' %}" class="text-error">No deberías estar aquí...</a></h4></div>
		{% else %}
			<div id="menu">
				{% if l_grados|length > 1 %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<select onchange="document.getElementById('form_grado').click()" id="id_l_grado" name="l_grado" required="">
						{% for l_grado in l_grados %}
							<option value="{{ l_grado }}"{% if l_grado == grado %}selected="selected"{% endif %}>{{ l_grado }}</option>
						{% endfor %}
					</select>
					<button id="form_grado" class="btn btn-high btn-info oculto" type="submit">Mostrar listado</button>
				</form>
				{% endif %}
			</div>
			{% if alumnos|length %}
			<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
				<input type="hidden" name="l_grado" value="{{ grado }}" />
				<div class="results">
					<table id="result_list" class="table table-striped table-bordered table-hover table-alumnos">
						<tr>
							<th><input class="alumno-check" type="checkbox" id="all" onclick="check_all(this);" /></th>
							<th>Nombre de usuario</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>DNI</th>
							<th>Fecha de nacimiento</th>
							<th>Correo electrónico</th>
							<th>Telefono</th>
							<th colspan="3"></th>
						</tr>
						{% for alumno in alumnos|dictsort:0 %}
							<tr>
								<td class="alumno-data"><input type="checkbox" name="all_alumnos" id="{{ alumno.0.1.uid.0 }}" value="{{ alumno.0.1.uid.0 }}" /></td>
								<td class="alumno-data"><a href="{% url 'perfil' grado alumno.0.1.uid.0 %}">{{ alumno.0.1.uid.0 }}</a></td>
								<td class="alumno-data">{{ alumno.0.1.givenName.0 }}</td>
								<td class="alumno-data">{{ alumno.0.1.sn.0 }}</td>
								<td class="alumno-data">{{ alumno.0.1.dni.0|slice:":8" }}-{{ alumno.0.1.dni.0|slice:"8:" }}</td>
								<td class="alumno-data">{{ alumno.0.1.fnac.0|slice:"6:8" }}/{{ alumno.0.1.fnac.0|slice:"4:6" }}/{{ alumno.0.1.fnac.0|slice:":4" }}</td>
								<td class="alumno-data">{{ alumno.0.1.mail.0 }}</td>
								<td class="alumno-data">{{ alumno.0.1.telephoneNumber.0 }}</td>
								<td class="alumno-button"><a href="{% url 'perfil' grado alumno.0.1.uid.0 %}"><img title="Ver perfil" class="pgdi-icon" src="{% static 'images/lens.png' %}"/></a></td>
								<td class="alumno-button"><a href="{% url 'respuestas' grado alumno.0.1.uid.0 %}"><img title="Evaluación inicial" class="pgdi-icon" src="{% static 'images/evaluacion_inicial.png' %}"/></a></td>
								<td class="alumno-button"><a href="{% url 'confirmar_baja' grado alumno.0.1.uid.0 %}"><img title="Dar de baja" class="pgdi-icon" src="{% static 'images/baja.png' %}"/></a></td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="actions">
					<select name="actions" required="">
						<option value="" selected="selected">---------</option>
						<option value="baja_selected">Dar de baja</option>
					</select>
					<button id="ok_button" type="submit" class="btn btn-high btn-info" title="Ejecutar la acción seleccionada">Confirmar</button>
				</div>
			</form>
			{% else %}
				<div class="alert alert-warn">No existen alumnos activos para este curso de <strong>{{ grado }}</strong></div>
			{% endif %}
			<div><button class="btn btn-high" onclick="location.href='{% url 'index' %}'">Volver</button></div>
		{% endif %}
	</div>
{% endblock %}
