{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="sub-title">Gestión Departamento Informática</h2>
	<div id="suit-center">
		{% if user.is_superuser %}
			<div class="alert {% if openrg %}alert-warn{% else %}alert-info{% endif %}">El registro de nuevos alumnos esta <strong>{% if openrg %}abierto{% else %}cerrado{% endif %}</strong><button class="top-button btn btn-high{% if not openrg %} btn-info{% endif %}" onclick="location.href='{% url 'regmod' %}'">{% if openrg %}Cerrar{% else %}Abrir{% endif %} el registro de nuevos alumnos</button></div>
			{% if openrg %}
				<div class="alert {% if freeun %}alert-warn{% else %}alert-info{% endif %}">La elección de nombre de usuario esta <strong>{% if freeun %}activada{% else %}desactivada{% endif %}</strong><button class="top-button btn btn-high{% if not freeun %} btn-info{% endif %}" onclick="location.href='{% url 'funmod' %}'">{% if freeun %}Desactivar{% else %}Activar{% endif %} la eleción del nombre de usuario</button></div>
			{% endif %}
			<hr />
		{% endif %}
		{% if not user.is_authenticated %}
			<div>
				{% if openrg %}<button class="btn btn-high btn-info" onclick="location.href='{% url 'register' %}'">Registrate ahora</button>{% endif %}
				<button class="btn btn-high" onclick="location.href='{% url 'login_view' %}'">Acceso al sistema</button>
			</div>
		{% else %}
			{# user.ldap_user.dn #}
			{# user.ldap_user.attrs #}
			{# user.ldap_user.group_dns #}
			{# user.ldap_user.group_names #}
			{% if user.is_superuser %}
				<button class="btn btn-high btn-info" onclick="window.open('/admin')">Administración del sitio</button>
			{% endif %}
			{% if user.is_staff %}
				<button class="btn btn-high" onclick="location.href='{% url 'alumnos' %}'">Listado de alumnos</button>
				<button class="btn btn-high" onclick="location.href='{% url 'pendientes' %}'">Registros pendientes</button>
			{% endif %}
			{% if not user.is_superuser and not user.is_staff %}
				<button class="btn btn-high" onclick="
					{% if 'ou=asir' in user.ldap_user.dn %}location.href='{% url 'perfil' 'ASIR' user.username %}'{% endif %}
					{% if 'ou=dam' in user.ldap_user.dn %}location.href='{% url 'perfil' 'DAM' user.username %}'{% endif %}
					{% if 'ou=smr' in user.ldap_user.dn %}location.href='{% url 'perfil' 'SMR' user.username %}'{% endif %}
				">Ver mi perfil</button>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
