{% extends "base.html" %}
{% load static %}
{% block content %}
	<script lang='javascript'>function hh() document.getElementById("header").style.display='none'</script>
	<body class="login" onload="hh();">
		<div id="suit-center">
			{% if user.is_authenticated %}
				<div class="alert alert-block alert-error"><h4><a href="{% url 'index' %}" class="text-error">No deberías estar aquí...</a></h4></div>
			{% else %}
			<fieldset id="content-main" class="module aligned first">
				<h1><i class="icon-lock icon-white"></i> PGDI</h1>
				<form id="login-form" enctype="multipart/form-data" method="post">
				{% csrf_token %}
					<div class="form-row control-group">
						<label for="id_username" class="control-label required">Nombre de usuario:</label> <input autofocus="" id="id_username" maxlength="254" name="username" required="" type="text">
					</div>
					<div class="form-row control-group">
						<label for="id_password" class="control-label required">Contraseña:</label> <input id="id_password" name="password" required="" type="password">
					</div>
					<div class="submit-row">
						<input value="Iniciar sesión" class="btn btn-info" type="submit">
					</div>
				</form>
			</fieldset>
			{% endif %}
		</div>
	</body>
{% endblock %}
