{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="sub-title">Alumnos pendientes de validación ({{ grado }})</h2>
	<div id="suit-center">
		{% if not user.is_authenticated or not user.is_staff %}
			<div class="alert alert-block alert-error"><h4><a href="{% url 'index' %}" class="text-error">No deberías estar aquí...</a></h4></div>
		{% else %}
			<div id="menu">
				{% if l_grados|length > 1 %}
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					<select id="id_l_grado" name="l_grado" required="">
						{% for l_grado in l_grados %}
							<option value="{{ l_grado }}"{% if l_grado == grado %}selected="selected"{% endif %}>{{ l_grado }}</option>
						{% endfor %}
					</select>
					<button class="btn btn-high btn-info" type="submit">Mostrar listado</button>
				</form>
				{% endif %}
			</div>
			{% if alumnos|length %}
				<div class="results">
					<table id="result_list" class="table table-striped table-bordered table-hover table-alumnos">
						<tr>
							<th>Nombre de usuario</th>
							<th>Nombre</th>
							<th>Apellidos</th>
							<th>Dni</th>
							<th>Fecha de nacimiento</th>
							<th>Correo electrónico</th>
							<th>Telefono</th>
							<th colspan="2"></th>
						</tr>
						{% for alumno in alumnos %}
							<tr>
								<td class="alumno-data">{{ alumno.user.username }}</td>
								<td class="alumno-data">{{ alumno.nombre }}</td>
								<td class="alumno-data">{{ alumno.apellido1 }} {{ alumno.apellido2 }}</td>
								<td class="alumno-data">{{ alumno.dni }}</td>
								<td class="alumno-data">{{ alumno.fecha_nac }}</td>
								<td class="alumno-data">{{ alumno.email }}</td>
								<td class="alumno-data">{{ alumno.telefono }}</td>
								<td class="alumno-button"><button class="btn btn-high btn-info" onclick="location.href='{% url 'alta' grado alumno.user.username %}'">Dar de alta</button></td>
								<td class="alumno-button"><button class="btn btn-high" onclick="location.href='{% url 'respuestas' grado alumno.user.username %}'">Evaluación inicial</button></td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% else %}
				<div class="alert alert-warn">No existen alumnos pendientes de registro para este curso de <strong>{{ grado }}</strong></div>
			{% endif %}
			<div><button class="btn btn-high" onclick="location.href='{% url 'index' %}'">Volver</button></div>
		{% endif %}
	</div>
{% endblock %}
