{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="sub-title">Perfil de {{ alumno.0.0.1.givenName.0 }} {{ alumno.0.0.1.sn.0 }}</h2>
	<div id="suit-center">
		<table class="table-overview registro">
			<tr>
				<td><strong>Alumno: </strong></td><td class="data_profile">{{ alumno.0.0.1.givenName.0 }} {{ alumno.0.0.1.sn.0 }}</td>
				<td><strong>DNI: </strong></td><td class="data_profile">{{ alumno.0.0.1.dni.0|slice:":8" }}-{{ alumno.0.0.1.dni.0|slice:"8:" }}</td>
				<td><strong>Grado: </strong></td><td class="data_profile">{{ grado }}</td>
			</tr>
			<tr>
				<td><strong>e-Mail:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.mail.0 }} 
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Teléfono:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.telephoneNumber.0 }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Fecha de nacimiento:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.fnac.0|slice:"6:8" }}/{{ alumno.0.0.1.fnac.0|slice:"4:6" }}/{{ alumno.0.0.1.fnac.0|slice:":4" }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><strong>Código Postal:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.postalCode.0 }} 
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Dirección:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.street.0 }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Localidad:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.l.0 }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><strong>Provincia:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.st.0 }} 
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Comunidad:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.c.0 }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>País:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
						{{ alumno.0.0.1.co.0 }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
			</tr>
			{% if user.is_staff %}
			<tr>
				<td><strong>Nombre de login:</strong></td><td class="data_profile">{{ alumno.0.0.1.uid.0 }}</td>
				<td><strong>Directorio de casa:</strong></td><td class="data_profile">{{ alumno.0.0.1.homeDirectory.0 }}</td>
				<td><strong>Shell de entrada:</strong></td><td class="data_profile">{{ alumno.0.0.1.loginShell.0 }}</td>
			</tr>
			<tr>
				<td><strong>UID:</strong></td><td class="data_profile">{{ alumno.0.0.1.uidNumber.0 }}</td>
				<td><strong>GID:</strong></td><td class="data_profile">{{ alumno.0.0.1.gidNumber.0 }}</td>
				<td><strong>Cuota:</strong></td><td class="data_profile"><i>No dispoible</i></td>
			</tr>
			{% endif %}
		</table>
		{% if user.is_authenticated and user.username == alumno.0.0.1.uid.0 or user.is_staff %}
			<div><button class="btn btn-high btn-info" onclick="location.href='{% url 'editar' grado alumno.0.0.1.uid.0 %}'">Modificar datos</button>
		{% else %}
			<div>
		{% endif %}
		{% if user.is_staff %}
			<button class="btn btn-high" onclick="location.href='{% url 'alumnos' %}'">Volver</button></div>
		{% else %}
			<button class="btn btn-high" onclick="location.href='{% url 'index' %}'">Volver</button></div>
		{% endif %}
	</div>
{% endblock %}
