{% extends "base.html" %}
{% load static %}
{% block content %}
	<h2 class="sub-title">Perfil público de {{ alumno.nombre }} {{ alumno.apellido1 }} {{ alumno.apellido2 }} </h2>
	<div id="suit-center">
		{% if not alumno.validado %}
			<div class="alert alert-success">Has terminado tu registro en el grado de <strong>{{ alumno.grado }}</strong>. Tu nombre de login es: <strong>{{ alumno.user.username }}</strong></div>
			<div class="alert alert-warn">Recuerda que no podrás loguearte hasta que un <strong>profesor</strong> valide tus datos</div><hr />
		{% endif %}
		<table class="table-overview registro">
			<tr>
				<td><strong>Alumno: </strong></td><td class="data_profile">{{ alumno.nombre }} {{ alumno.apellido1 }} {{ alumno.apellido2 }}</td>
				<td><strong>Grado: </strong></td><td colspan="3" class="data_profile">{{ grado.cod }}: {{ grado.nombre }}</td>
			</tr>
			<tr>
				<td><strong>e-Mail:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.user.username or user.is_staff %}
						{{ alumno.email }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Teléfono:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.user.username or user.is_staff %}
						{{ alumno.telefono }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
				<td><strong>Fecha de nacimiento:</strong></td><td class="data_profile">
					{% if user.is_authenticated and user.username == alumno.user.username or user.is_staff %}
						{{ alumno.fecha_nac }}
					{% else %}
						<i>Oculto</i>
					{% endif %}
				</td>
			</tr>
		</table>
	</div>
{% endblock %}
