{% extends "base.html" %}
{% load static %}
{% block content %}
	<script lang='javascript'>
		function default_mod() {
			var grados = document.getElementById("id_grado").options
			for (i = 0; i < grados.length; i++) {
				if (grados[i].text == '{{ grado }}') document.getElementById("id_grado").selectedIndex = i;
			}
		}
	</script>
	<h2 class="sub-title">Presentación</h2>
	<body onload="default_mod()">
		<div id="suit-center">
			{% if user.is_authenticated or not openrg %}
				<div class="alert alert-block alert-error"><h4><a href="{% url 'index' %}" class="text-error">No deberías estar aquí...</a></h4></div>
			{% else %}
			<div class="alert alert-info">
				Parece que estas accediendo desde la ip <strong>{{ ip }}</strong>. 
				{% if grado != 'desconocido' %}Seguramente seas alumno de <strong>{{ grado }}</strong>{% endif %}. 
				Si eres un antiguo alumno haz click [ <a href="{% url 'regreso' %}"><strong>AQUÍ</strong></a> ]
			</div><hr />
			<fieldset class="module aligned first ">
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					{% if uform.errors %}
						<h4>Se han producido los siguientes errores:</h4>
							<div>
								{{ uform.errors }}
							</div>
						<br />
					{% endif %}
					{% if pform.errors %}
						<h4>Se han producido los siguientes errores:</h4>
							<div>
								{{ pform.errors }}
							</div>
						<br />
					{% endif %}
					
					<table class="table-overview registro">
						<tr>
							{% if freeun %}
							<td colspan="2" class="reg_input"><strong>❋ Puede elegir el nombre de usuario deseado.</strong></td>
							<td><label for="id_username">Username:</label></td><td class="reg_input">{{ uform.username }}</td>
							{% else %}
							<td colspan="2" class="reg_input"><strong>❋ No es posible elegir el nombre de usuario.</strong></td>
							<input id="username" type="hidden" name="username" value="dummy">
							<td>{{ uform.username.label_tag }}</td><td class="reg_input"><input disabled="disabled" type="text"></td>
							{% endif %}
							<td><label for="id_dni">DNI:</label></td><td class="reg_input">{{ pform.dni }}</td>
						</tr>
						<tr>
							<td>{{ pform.nombre.label_tag }}</td><td class="reg_input">{{ pform.nombre }}</td>
							<td><label for="id_apellido1">1º Apellido:</label></td><td class="reg_input">{{ pform.apellido1 }}</td>
							<td><label for="id_apellido2">2º Apellido:</label></td><td class="reg_input">{{ pform.apellido2 }}</td>
						</tr>
						<tr>
							<td><label for="id_grado">Grado:</label></td><td class="reg_input">{{ pform.grado }}</td>
							<td><label for="id_email">e-Mail:</label></td><td class="reg_input">{{ pform.email }}</td>
							<td><label for="id_telefono">Teléfono:</label></td><td class="reg_input">{{ pform.telefono }}</td>
						</tr>
						<tr>
							<td>{{ pform.fecha_nac.label_tag }}</td><td class="reg_input">{{ pform.fecha_nac }}</td>
							<td><label for="id_contraseña1">Contraseña:</label></td><td class="reg_input">{{ uform.password1 }}</td>
							<td><label for="id_contraseña2">Contraseña:</label></td><td class="reg_input">{{ uform.password2 }}</td>
						</tr>
					</table>
					<br />
					<button class="btn btn-high btn-info" type="submit">Confirmar</button>
				</form>
			</fieldset>
			{% endif %}
		</div>
	</body>
{% endblock %}
