{% extends "base.html" %}
{% load static %}
{% block content %}
	<script lang='javascript'>
		function default_mod() {
			var grados = document.getElementById("id_grado").options
			for (i = 0; i < grados.length; i++) {
				if (grados[i].text == '{{ grado }}') document.getElementById("id_grado").selectedIndex = i;
			}
		}
	</script>
	<script src="//cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
	<script>
		jQuery.swap = function( elem, options, callback, args ) {
			var ret, name, old = {};
			// Remember the old values, and insert the new ones
			for ( name in options ) {
				old[ name ] = elem.style[ name ];
				elem.style[ name ] = options[ name ];
			}
			ret = callback.apply( elem, args || [] );
			// Revert the old values
			for ( name in options ) {
				elem.style[ name ] = old[ name ];
			}
			return ret;
		};
		webshims.setOptions('forms-ext', {
			types: 'date', 
			"date": {
					"startView": 0
				}
			}
		);
		webshims.polyfill('forms forms-ext');
	</script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAHJXeUeWW-dv3IMxOZVVuLRcMt62hO6Eg"></script>
	<script lang='javascript'>
	var map, geocoder;
	function inicio() {
	var latlng = new google.maps.LatLng(36.500648, -6.272241);
	var mapOptions = {
	  zoom: 10,
	  center: latlng,
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById('mapa'), mapOptions);
	geocoder = new google.maps.Geocoder();
	};
	function codeAddress() {
	document.getElementById('dir_ok').innerHTML = "<strong>❋ Confirme o corrija los datos ↴</strong>"
	//document.getElementById('addr1').style.display = "";
	//document.getElementById('addr2').style.display = "";
	//document.getElementById('addr3').style.display = "";
	var address = document.getElementById('address').value;
	geocoder.geocode({
	  'address': address
		// 'latLng': latlng si lo que queremos ejecutar en geocodificación inversa
	}, function(results, status) {
	  if (status == google.maps.GeocoderStatus.OK) {
		//document.getElementById('x').innerHTML = results[0].geometry.location.lat().toFixed(6);
		//document.getElementById('y').innerHTML = results[0].geometry.location.lng().toFixed(6);
		map.setCenter(results[0].geometry.location);
		document.getElementById('address').value = results[0].formatted_address;
		var marker = new google.maps.Marker({
		  map: map,
		  position: results[0].geometry.location
		});
			var route = ""
			var street_number = ""
			for(var j=0;j < results[0].address_components.length; j++){
				for(var k=0; k < results[0].address_components[j].types.length; k++){
					if(results[0].address_components[j].types[k] == "postal_code"){
						zipcode = results[0].address_components[j].short_name;
						document.getElementById('id_cp').value = zipcode;
					}
					if(results[0].address_components[j].types[k] == "route"){
						route = results[0].address_components[j].short_name;
					}
					if(results[0].address_components[j].types[k] == "street_number"){
						street_number = results[0].address_components[j].short_name;
					}
					if(results[0].address_components[j].types[k] == "locality"){
						locality = results[0].address_components[j].short_name;
						document.getElementById('id_localidad').value = locality;
					}
					if(results[0].address_components[j].types[k] == "administrative_area_level_1"){
						administrative_area_level_1 = results[0].address_components[j].long_name;
						document.getElementById('id_comunidad').value = administrative_area_level_1;
					}
					if(results[0].address_components[j].types[k] == "administrative_area_level_2"){
						administrative_area_level_2 = results[0].address_components[j].long_name;
						document.getElementById('id_provincia').value = administrative_area_level_2;
					}
					if(results[0].address_components[j].types[k] == "country"){
						country = results[0].address_components[j].long_name;
						if (country == "Spain") country = 'España';
						document.getElementById('id_pais').value = country;
					}
				}
			}
			document.getElementById('id_direccion').value = route + ", " + street_number;
		infowindow = new google.maps.InfoWindow({
		  content: results[0].formatted_address + '<br> Latitud: ' + results[0].geometry.location.lat().toFixed(6) + '<br> Longitud: ' + results[0].geometry.location.lng().toFixed(6)
		});
		infowindow.open(map, marker)
	  }
	  // Se detallan los diferentes tipos de error
	  else {
		alert('Geocode no tuvo éxito por la siguiente razón: ' + status)
	  }
	})
	};
	google.maps.event.addDomListener(window, 'load', inicio);
	</script>
	
	<h2 class="sub-title">Presentación</h2>
	<body onload="default_mod()">
		<div id="suit-center">
			{% if user.is_authenticated or not openrg %}
				<div class="alert alert-block alert-error"><h4><a href="{% url 'index' %}" class="text-error">No deberías estar aquí...</a></h4></div>
			{% else %}
			<div class="alert alert-info">
				Parece que estas accediendo desde la ip <strong>{{ ip }}</strong>. 
				{% if grado != 'desconocido' %}Seguramente seas alumno de <strong>{{ grado }}</strong>{% endif %}. 
				Si eres un antiguo alumno haz click [ <a href="{% url 'regreso' %}"><strong>AQUÍ</strong></a> ]
			</div><hr />
			<fieldset class="module aligned first" >
				<form enctype="multipart/form-data" method="post">
					{% csrf_token %}
					{% if uform.errors or pform.errors %}
						<h4>Se han producido los siguientes errores:</h4>
							<div>
								{{ uform.errors }}
								{{ pform.errors }}
							</div>
						<br />
					{% endif %}
					<table class="table-overview registro">
						<tr>
							{% if freeun %}
							<td colspan="2" class="reg_input"><strong>❋ Puede elegir el nombre de usuario deseado.</strong></td>
							<td><label for="id_username">Nombre de<br>usuario:</label></td><td class="reg_input">{{ uform.username }}</td>
							{% else %}
							<td colspan="2" class="reg_input"><strong>❋ No es posible elegir el nombre de usuario.</strong></td>
							<input id="username" type="hidden" name="username" value="dummy">
							<td><label for="id_username">Nombre de<br>usuario:</label></td><td class="reg_input"><input disabled="disabled" type="text"></td>
							{% endif %}
							<td><label for="id_dni">DNI:</label></td><td class="reg_input">{{ pform.dni }}</td>
						</tr>
						<tr>
							<td>{{ pform.nombre.label_tag }}</td><td class="reg_input">{{ pform.nombre }}</td>
							<td><label for="id_apellido1">1º Apellido:</label></td><td class="reg_input">{{ pform.apellido1 }}</td>
							<td><label for="id_apellido2">2º Apellido:</label></td><td class="reg_input">{{ pform.apellido2 }}</td>
						</tr>
						<tr>
							<td><label for="id_grado">Grado:</label></td><td class="reg_input">{{ pform.grado }}</td>
							<td><label for="id_email">e-Mail:</label></td><td class="reg_input">{{ pform.email }}</td>
							<td><label for="id_telefono">Teléfono:</label></td><td class="reg_input">{{ pform.telefono }}</td>
						</tr>
						<tr>
							<td><label for="id_fecha_nac">Fecha de<br>Nacimiento:</label></td><td class="reg_input"><input id="id_fecha_nac" placeholder="dd/mm/yyyy" name="fecha_nac" required="" type="date"></td>
							<td><label for="id_contraseña1">Contraseña:</label></td><td class="reg_input">{{ uform.password1 }}</td>
							<td><label for="id_contraseña2">Contraseña:</label></td><td class="reg_input">{{ uform.password2 }}</td>
						</tr>
						<tr>
							<td><label for="id_address">Dirección<br>completa:</label></td>
							<td colspan="3" class="reg_input"><input id="address" type="text" maxlength="100" value="" placeholder="c/ Conil de la Frontera, 3, 11011 Cádiz, Spain" /></td>
							<td><input id="localizar" type="button" class="button" value="Localizar" onclick="codeAddress()"></td><td class="reg_input"><div id="dir_ok"><strong>⇦ Pulse "Localizar"</strong></div></td>
						</tr>
						<tr id="addr1" style="display:;">
							<td><label for="id_cp">Código<br>Postal:</label></td><td class="reg_input">{{ pform.cp }}</td>
							<td><label for="id_direccion">Dirección:</label></td><td class="reg_input">{{ pform.direccion }}</td>
							<td>{{ pform.localidad.label_tag }}</td><td class="reg_input">{{ pform.localidad }}</td>
						</tr>
						<tr id="addr2" style="display:;">
							<td>{{ pform.provincia.label_tag }}</td><td class="reg_input">{{ pform.provincia }}</td>
							<td>{{ pform.comunidad.label_tag }}</td><td class="reg_input">{{ pform.comunidad }}</td>
							<td><label for="id_pais">País:</label></td><td class="reg_input">{{ pform.pais }}</td>
						</tr>
						<tr id="addr3" style="display:;">
							<td colspan="6"><div id="mapa"></div></td>
						</tr>
					</table>
					<br />
					<button class="btn btn-high btn-info" type="submit">Confirmar</button>
					<button class="btn btn-high" onclick="location.href='{% url 'index' %}'">Volver</button>
				</form>
			</fieldset>
			{% endif %}
		</div>
	</body>
{% endblock %}
